@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorPassword, #errorFirstName, #errorPhone, #errorLastName, #errorAddress, #errorEmail {
    display: none;
}

#formulario p {
    color: red;
}